#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  /* background-color: #f2f2f2; */
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
  background-color: #f2f2f2;
  width: 100%;
  padding: 20px;
  z-index: 9999;
}
.search-input {
  width: 100%;
  /* box-sizing: border-box; */
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 10px;
  /* background-image: url('searchicon.png');
  background-position: 50px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px; */
}
.icon-wrapper {
  display: flex;
  margin-left: 20px;
}
.babyIcon {
  margin: 0px 50px;
  cursor: pointer;
  padding: 5px;
  /* border-radius: 15px; */
}
/* .babyIcon-border {
  border: 1px solid black;
} */
.search-button {
  background-color: white;
  width: 150px;
  height: 40px;
  font-size: medium;
  margin: 5px 5px;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  transition-duration: 0.4s;
  opacity: 0.7;
}
.search-button:hover {
  opacity: 1;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
}
.favorite-names-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
}
.favorite-names-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.baby-names-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: pink 1px solid;
}
.baby-male {
  background-color: rgb(60, 57, 241);
  color: white;
  opacity: 1;
  /* font-weight: 900; */
}
.baby-male:hover {
  opacity: 0.8;
}
.baby-female {
  background-color:pink;
  opacity: 0.8;
}
.baby-female:hover {
  opacity: 1;
}
.button {
  width: 125px;
  height: 40px;
  font-size: larger;
  margin: 5px 5px;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}
img {
  width: 20px;
  margin: 0px 10px;
}
.gender-picture {
  border-bottom: 10px solid black;
}
.babyIcon {
  margin: 0px 20px;
}
/* .babyIcon:hover {
  background-color: white;
} */
.babyIcon-highlight {
  border-bottom: black 1px solid;
}
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  .app-wrapper {
    width: 100vw;
  }
  .content-wrapper {
    margin-top: 125px;
  }
  .navbar {
    padding: 10px;
  }
  .button {
    width: 80px;
    font-size: small;
  }
  .search-button {
    font-size: small;
  }
  /* .babyIcon {
    margin: 0px 20px;
  } */
}
